<h2>{{question.content}}</h2>
<h3>{{question.author}}</h3>
<h4>{{question.notes}}</h4>

{{question-update question=question updateQuestion2="updateQuestion3"}}

{{answer-add question=question saveAnswer2="saveAnswer3"}}



<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
