{{#if user.currentUser}}
  <span class="clickable pull-right" {{action 'logOut1'}}>Log Out</span>
  <h4 class="pull-right"><em>Welcome, {{user.currentUser.username}}.</em></h4>
{{else}}
  {{#unless signupFormOpen}}
    {{user-login logIn2="logIn3" setLoginFormOpenness="setLoginFormOpenness"}}
  {{/unless}}
  {{#unless loginFormOpen}}
    {{user-signup signUp2="signUp3" setSignupFormOpenness="setSignupFormOpenness"}}
  {{/unless}}
{{/if}}
