{{#if signupFormOpen}}
  <span class="clickable" {{action 'closeSignupForm'}}>Cancel Signup</span>
  <form>
    <label for="input-username-signup">Username:</label>
    {{input type='text' value=username id='input-username-signup'}}
    <label for="input-password-signup1">Password:</label>
    {{input type='password' value=password1 id='input-password-signup1'}}
    <label for="input-password-signup2">Re-enter Password:</label>
    {{input type='password' value=password2 id='input-password-signup2'}}
    <button {{action 'signUp1'}}>Sign Up</button>
  </form>
{{else}}
  <span class="clickable" {{action 'openSignupForm'}}>Sign Up</span>
{{/if}}
